{% extends "base.html" %}

{% block content %}

<div class="container mt-3 mb-3">
    <h1 class="mb-5" style="text-align:center; color:rgba(255, 0, 0, 0.685);letter-spacing:2px">Meet The Team</h1>
    <div class="row">
      <div class="col-lg-4 mt-5 mb-5">
        <div>
            <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 10px #343A3F;border-radius: 50%;width:58%;height:auto; display: block; margin-left:auto; margin-right:auto">
            <div>
              <h4 style="text-align:center"><b>Hritesh Mourya</h4></b>
              <p style="text-align:center">President</p>
            </div>
          </div>
    </div>

      <div class="col-lg-4 mt-5 mb-5">
        <div>
            <img src="https://www.recursionnitd.in/media/images/Ishika_Chowdhury.png" class="card-img-top" alt="..." style="border:solid 10px #343A3F;border-radius: 50%;width:58%;height:auto; display: block; margin-left:auto; margin-right:auto">
            <div>
              <h4 style="text-align:center"><b>Ishika Chowdhury</h4></b>
              <p style="text-align:center">Convener</p>
            </div>
          </div>
    </div>

        <div class="col-lg-4 mt-5 mb-5">
            <div>
                <img src="https://www.recursionnitd.in/media/images/Anuj_Patel_FRV75hz.png" class="card-img-top" alt="..." style="border:solid 10px #343A3F;border-radius: 50%;width:58%;height:auto ; display: block; margin-left:auto; margin-right:auto">
                <div>
                  <h4 style="text-align:center"><b>Anuj Patel</h4></b>
                  <p style="text-align:center">Treasurer</p>
                </div>
              </div>
        </div>

        <div class="col-lg-4 mt-5 mb-5">
          <div>
              <img src="https://www.recursionnitd.in/media/images/Chilukuri_Sri_Harsha.png" class="card-img-top" alt="..." style="border:solid 10px #343A3F;border-radius: 50%;width:58%;height:auto ; display: block; margin-left:auto; margin-right:auto">
              <div>
                <h4 style="text-align:center"><b>Chilkuri Sri<br> Harsha</h4></b>
                <p style="text-align:center">Vice President</p>
              </div>
            </div>
      </div>

      <div class="col-lg-4 mt-5 mb-5">
        <div>
            <img src="https://www.recursionnitd.in/media/images/Ayesha_Uzma.png" class="card-img-top" alt="..." style="border:solid 10px #343A3F;border-radius: 50%;width:58%;height:auto ; display: block; margin-left:auto; margin-right:auto">
            <div>
              <h4 style="text-align:center"><b>Ayesha Uzma</h4></b>
              <p style="text-align:center">General Secretary</p>
            </div>
          </div>
    </div>

    </div>
</div>
<!--second-->
<div class="container mt-3 mb-3">
    <div class="row">
    <div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
      <div>
          <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
          <div>
            <h4 style="text-align:center"><b>Md Umar</h4></b>
            <p style="text-align:center">Head of Public Relation</p>
          </div>
        </div>
  </div>
  <div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
    <div>
        <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
        <div>
          <h4 style="text-align:center"><b>Prakhar Srivastava</h4></b>
          <p style="text-align:center">Sponsorship Head</p>
        </div>
      </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Rushil Patel</b></h4></b>
        <p style="text-align:center">Contest Head</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Sayan Pal</h4></b>
        <p style="text-align:center">Design & Publicity Head</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Shubham Kumar</h4></b>
        <p style="text-align:center">Classes Head</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Sourav Karmakar</h4></b>
        <p style="text-align:center">Web & Tech Head</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Vikas Churiwala</h4></b>
        <p style="text-align:center">Social Media Head</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Abhinav Aarya</h4></b>
        <p style="text-align:center">Senior Coordinattor</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Aishik Bhattacharya</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Aishwarya Prakash</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Ankit Maskara</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Ankita Singh</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Ashish Kumar</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Bhishwajit Ghosh</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Harshit Surana</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Madaka Purana Sai Prasanth</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Onkar Ratnaparkhi</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>

<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Prasann Kumar Gupta</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Saptarshi Shome</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Shubham Gupta</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Vishal Mahavar</h4></b>
        <p style="text-align:center">Senior Coordinator</p>
      </div>
    </div>
</div>
<div class="col-lg-4 mt-3 mb-2" style="display:flex;width:25% ;float:left">
  <div>
      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 5px #343A3F;border-radius: 50%;width:30%;height:auto; display: block; margin-left:auto; margin-right:auto">
      <div>
        <h4 style="text-align:center"><b>Hritesh Mourya</h4></b>
        <p style="text-align:center">President</p>
      </div>
    </div>
</div>
 
</div>
</div>
<hr>


<!--alumnini-->
<div class="container mt-4 mb-3" >
  <h1 class="mb-5" style="text-align:center; color:rgba(255, 0, 0, 0.685);letter-spacing:2px">Meet Our Alumini</h1>
  <h2 class="mb-5" style="text-align:center; color:rgba(255, 0, 0, 0.685);letter-spacing:2px">Batch of 2021</h2>
  <div class="row"style="justify-content:center">
    <div class="jumptron shadow-sm p-2 bg-white round">
      <div class="row">
        <div class="col-3">
          <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
          </div>
          <div class="col-9 pt-2" style="font-size:85%">
            <span class="text-success">Abhishek Chowdhury</span>
            <br>
            <text>B.Tech in Information Technology</text>
            <br>
            <a href="" target="_blank">
              <i class=" fab fa-linkedin" style="color: #0077B5">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
              Linkedin Profile
            </i>
            </a>
            </div>
          </div>
        </div>
        <div class="jumptron shadow-sm p-2 bg-white round">
          <div class="row">
            <div class="col-3">
              <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
              </div>
              <div class="col-9 pt-2" style="font-size:85%">
                <span class="text-success">Abhishek Chowdhury</span>
                <br>
                <text>B.Tech in Information Technology</text>
                <br>
                <a href="" target="_blank">
                  <i class=" fab fa-linkedin" style="color: #0077B5">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                    Linkedin Profile
                </i>
                </a>
                </div>
              </div>
            </div>
            <div class="jumptron shadow-sm p-2 bg-white round">
              <div class="row">
                <div class="col-3">
                  <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                  </div>
                  <div class="col-9 pt-2" style="font-size:85%">
                    <span class="text-success">Abhishek Chowdhury</span>
                    <br>
                    <text>B.Tech in Information Technology</text>
                    <br>
                    <a href="" target="_blank">
                      <i class=" fab fa-linkedin" style="color: #0077B5">
                        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                        Linkedin Profile
                    </i>
                    </a>
                    </div>
                  </div>
                </div>
                <div class="jumptron shadow-sm p-2 bg-white round">
                  <div class="row">
                    <div class="col-3">
                      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                      </div>
                      <div class="col-9 pt-2" style="font-size:85%">
                        <span class="text-success">Abhishek Chowdhury</span>
                        <br>
                        <text>B.Tech in Information Technology</text>
                        <br>
                        <a href="" target="_blank">
                          <i class=" fab fa-linkedin" style="color: #0077B5">
                            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                            Linkedin Profile
                        </i>
                        </a>
                        </div>
                      </div>
                    </div>
                    <div class="jumptron shadow-sm p-2 bg-white round">
                      <div class="row">
                        <div class="col-3">
                          <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                          </div>
                          <div class="col-9 pt-2" style="font-size:85%">
                            <span class="text-success">Abhishek Chowdhury</span>
                            <br>
                            <text>B.Tech in Information Technology</text>
                            <br>
                            <a href="" target="_blank">
                              <i class=" fab fa-linkedin" style="color: #0077B5">
                                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                                Linkedin Profile
                            </i>
                            </a>
                            </div>
                          </div>
                        </div>
                        <div class="jumptron shadow-sm p-2 bg-white round">
                          <div class="row">
                            <div class="col-3">
                              <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                              </div>
                              <div class="col-9 pt-2" style="font-size:85%">
                                <span class="text-success">Abhishek Chowdhury</span>
                                <br>
                                <text>B.Tech in Information Technology</text>
                                <br>
                                <a href="" target="_blank">
                                  <i class=" fab fa-linkedin" style="color: #0077B5">
                                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                                    Linkedin Profile
                                </i>
                                </a>
                                </div>
                              </div>
                            </div>
                            <div class="jumptron shadow-sm p-2 bg-white round">
                              <div class="row">
                                <div class="col-3">
                                  <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                                  </div>
                                  <div class="col-9 pt-2" style="font-size:85%">
                                    <span class="text-success">Abhishek Chowdhury</span>
                                    <br>
                                    <text>B.Tech in Information Technology</text>
                                    <br>
                                    <a href="" target="_blank">
                                      <i class=" fab fa-linkedin" style="color: #0077B5">
                                        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                                        Linkedin Profile                                    </i>
                                    </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="jumptron shadow-sm p-2 bg-white round">
                                  <div class="row">
                                    <div class="col-3">
                                      <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                                      </div>
                                      <div class="col-9 pt-2" style="font-size:85%">
                                        <span class="text-success">Abhishek Chowdhury</span>
                                        <br>
                                        <text>B.Tech in Information Technology</text>
                                        <br>
                                        <a href="" target="_blank">
                                          <i class=" fab fa-linkedin" style="color: #0077B5">
                                            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                                          Linkedin Profile
                                        </i>
                                        </a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="jumptron shadow-sm p-2 bg-white round">
                                      <div class="row">
                                        <div class="col-3">
                                          <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                                          </div>
                                          <div class="col-9 pt-2" style="font-size:85%">
                                            <span class="text-success">Abhishek Chowdhury</span>
                                            <br>
                                            <text>B.Tech in Information Technology</text>
                                            <br>
                                            <a href="" target="_blank">
                                              <i class=" fab fa-linkedin" style="color: #0077B5">
                                                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                                              Linkedin Profile
                                            </i>
                                            </a>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="jumptron shadow-sm p-2 bg-white round">
                                          <div class="row">
                                            <div class="col-3">
                                              <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                                              </div>
                                              <div class="col-9 pt-2" style="font-size:85%">
                                                <span class="text-success">Abhishek Chowdhury</span>
                                                <br>
                                                <text>B.Tech in Information Technology</text>
                                                <br>
                                                <a href="" target="_blank">
                                                  <i class=" fab fa-linkedin" style="color: #0077B5">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                                                  Linkedin Profile
                                                </i>
                                                </a>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="jumptron shadow-sm p-2 bg-white round">
                                              <div class="row">
                                                <div class="col-3">
                                                  <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="card-img-top" alt="..." style="border:solid 4px #343A3F;border-radius: 50%;width:80px;height:80px; display: block; margin-left:auto; margin-right:auto">
                                                  </div>
                                                  <div class="col-9 pt-2" style="font-size:85%">
                                                    <span class="text-success">Abhishek Chowdhury</span>
                                                    <br>
                                                    <text>B.Tech in Information Technology</text>
                                                    <br>
                                                    <a href="" target="_blank">
                                                      <i class=" fab fa-linkedin" style="color: #0077B5">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width:1em;height:1em">
                                                      Linkedin Profile
                                                    </i>
                                                    </a>
                                                    </div>
                                                  </div>
                                                </div>

</div>
</div>




{% endblock %}